/* CSS */
.me-2{
    margin-left: .6rem   ;
}   
#conteinerTitulo{
    background-color: bisque;
    padding-bottom: 80px;
    padding-top: 80px;

}

#postPreview{
    padding-top: 100px;
}
#postPreview_Row{
    border-right: 1px solid rgb(119, 115, 115);
    border-left: 1px solid rgb(119, 115, 115);
    border-bottom: 1px solid rgb(119, 115, 115);
}
#post{
    padding-top: 100px;
}
#search-form{
    background-color: white;
    margin-top: 37px;
    position: absolute;
    z-index: 9999;
}
#headerSquadBertha{
    
}
#aHeaderSquad{
    color: black;
}
#comentsPostados{
    padding-top: 50px;
}
#comentarios{
    padding-bottom: 50px;
}