{% extends "index.html" %}
{% load bootstrap5 %}
{% block principal %}
<div class="container-fluid" >
  <div class="row " id="telaCadastroLogado">
    <div class="col-lg-8 mx-auto " id="div_cadastroLivros">
      <h1 class="text-body-emphasis">Cadastro de Livros</h1>
        
      {% if sucesso %}
        <p class="alert alert-success"> Cadastro realizado com sucesso </p>
      {% else %}
        <form action="" method="POST" id="form" novalidate>
          {% csrf_token %}
          {% for field in form.visible_fields %}
                <p>{{field.label}}</p> 
                <div>{{field}}</div>

                {% endfor %}
          <a href="{% url 'cadastrar_livro' %}" ><button type="submit" class="btn btn-primary btn-block">Cadastrar</button></a>
        </form>
      </div>
    </div>
</div>        
  {% endif %}
{% endblock %}