{% extends "index.html" %}
{% load bootstrap5 %}
{% block principal %}
{% load static %}

<h1 class="text-doby-emphasis"> Livros Cadastrados</h1>
<br>
<div class="table-responsive">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Nome do livro</th>
                <th>Autor</th>
                <th>Nota</th>
                <th>Descrição</th>
            </tr>
        </thead>        
        <tbody >
            {% for cadsatro in cadastros%}
            <tr>
                <td>{{cadastro.nome}}</td>
                <td>{{cadastro.autor}}</td>
                <td>{{cadastro.nota}}</td>
                <td>{{cadsatro.descricao}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{%endblock%}