{% extends "index.html" %}
{% block principal %}
<div class="pt-5">
      <section class="d-flex justify-content-center gap-5">
            <div class="col-5 card">
                  <div class="card-body">
                        <h3 class="card-header text-center">Cadastro</h3>
                        <form action="" method="POST" id="form" novalidate>
                        {% csrf_token %}
                        {% for field in form.visible_fields %}
                              <div class="mb-3">
                                    <p class="m-1"><strong>{{field.label}}</strong></p> 
                                    <div>{{field}}</div>
                              </div>
                  
                              {% endfor %}
                              <br>
                        <a href="{% url 'cadastrar_livro' %}" ><button type="submit" class="btn btn-primary btn-block">Cadastrar</button></a>
                        </form>
                        {% if erro %}
                              <p class="alert alert-danger mt-3">Erro na criação do cadastro. Tente novamente.  </p>
                        {% endif %}
                        {% if sucesso %}
                              <p class="alert alert-success mt-3">Usuário cadastrado. Faça o login para continuar  </p>
                        {% endif %}
                  </div>
            </div>
            <div class="col-5 card">
                  <div class="card-body">
                        <h3 class="card-header text-center ">Login</h3>
                        <form action="{% url 'login' %}" method="POST" id="form" novalidate>
                        {% csrf_token %}
                              <div class="mb-3">
                                    <p  class="m-1"><strong>{{ login_form.username.label_tag }}</strong></p>
                                    {{ form.username }}

                              </div>

                              <div class="mb-3">
                                    <p class="m-1"><strong>{{ login_form.password.label_tag }}</strong></p>
                              {{ form.password }}
                              
                              </div>
                              
                              <br>
                        <button type="submit" class="btn btn-primary btn-block">Login</button>
                        </form>
                        {% if erro_login %}
                              <p class="alert alert-danger mt-3">Erro no login. Tente novamente.  </p>
                        {% endif %}
                        <p>Ainda está com problemas de edição? Vá para a página de administração:</p>
                        <a href="{% url 'admin:index' %}" class="btn btn-primary">Administração</a>

                  </div>
            </div>


      </section>
</div>
{% endblock %}