{% extends "index.html" %}
{% block principal %}

    <div class="container div-dos-posts" id="post">
        <div class="row"> 
            <div class="col-lg-8 mx-auto shadow " id="div_postPublicado">
                <h2 class="mt-2 titulo text-uppercase fs-3 text-center">{{posts.titulo}}</h2><br>
                <div class="d-flex gap-4">
                    {% if fotografia.imagem %}
                    <div class="imagem-livro col-3">
                        <img class="img-fluid" src="{{ fotografia.imagem.url }}">
                    </div>
                    {% endif %}
                    <div class="col-9">
                        <h4 class="autor fs-6">Autor: {{posts.autor}}</h4>
                        <h4 class="nota fs-6 col-2 col-sm-2 col-md-2 col-lg-2 w-100" id="notaLivro_Post">Nota do livro: {{posts.nota}}</h4>
                        <h4 class="data-publicacao fs-6">Data de Publicação:{{posts.date}}</h4>
                        <h3 class="fs-4 text-center mt-3">Resenha:</h3>
                        <p class="content text-justified">{{posts.content}}</p><br><br>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container div-dos-comentarios border-bottom" id="comentarios">
        <div class="row">
            <div class="col-lg-8 mx-auto">
                <h3>Deixe seu comentário aqui: </h3>
                <form action="{% url 'resenha' id=id_do_livro %}" method="POST" id="form">

                    {% csrf_token %}
                    

                    {% for field in form.visible_fields %}
                    <p>{{field.label}}</p> 
                    <div>{{field}}</div>

                    {% endfor %}

                    {% if sucesso %}
                    <p class="alert alert-success">Comentario adicionado com sucesso! </p>
                    {% endif %}

                    <button type="submit" class="btn btn-primary btn-block mb-3">Enviar comentário</button>
                </form>
            </div>
        </div>
    </div>

       
    

    <div class="container comentarios-postados" id="comentsPostados">
        <div class="row">
            <div class="col-lg-8 mx-auto">
                <h3>Comentários:</h3>
                {% for comentario in comentarios %}
                <section class="card mb-3">
                    <div class="card-body">
                        <div>
                            <h5 class="card-title me-3">{{comentario.usuario}}</h5>
                            <h6 class="card-subtitle mb-2 text-muted">{{comentario.data2}}</h6>
                        </div>
                        <div class="card-text">
                            {{comentario.comentario}}
                        </div>
                    </div>

                </section>
                {% endfor %}
            </div>        
        </div>
    </div>

{% endblock %}