{% extends "index.html" %}
{% load bootstrap5 %}
{% block principal %}
{% load static %}

<h1 class="text-doby-emphasis"> Livros Cadastrados</h1>
<br>
<a href="{%url 'cadastrar_livro'%}" class="btn btn-primary">Cadastrar Novo Livro</a>
<div class="table-responsive">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Nome do livro:</th>
                <th>Autor:</th>
                <th>Data:</th>
                <th>Nota:</th>
                <th>Preview:</th>
                <th>Resenha:</th>
                <th>Editar:</th>
                <th>Excluir:</th>
            </tr>
        </thead>        
        <tbody >
            {% for livro in livros %}
            <tr>
                <td>{{livro.titulo}}</td>
                <td>{{livro.autor}}</td>
                <td>{{livro.date}}</td>
                <td>{{livro.nota}}</td>
                <td>{{livro.preview}}</td>
                <td>{{livro.content}}</td>
                <td><a href="{% url 'editar_um_livro' id=livro.id %}"><button class="btn btn-success">Editar</button></a></td>
                <td><a href="{% url 'excluir' id=livro.id %}"><button class="btn btn-danger">Excluir</button></a></td>
            </tr>

            {% endfor %}

        </tbody>
    </table>
    <!-- <p>Ainda está tendo problemas de edição? Vá para a página de adminitração:</p>
    <a href="#" class="btn btn-primary">Administração</a> -->
</div>
{%endblock%}